.receipt{
    position: relative;
    width: 400px;
    height: auto;
    padding: 40px 20px;
    background-color: #f8f8f8;
    left: 50%;
    transform: translateX(-50%);
    max-width: 85%;
}

.receipt::after, .receipt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 10px 3px, brown 10px, #f8f8f8 11px) repeat-x;
    background-size: 20px 20px;
}

.receipt::after {
    transform: rotate(180deg);
}

.line {
    border-bottom: #000000 solid 2px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 10px;
}

.address {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.description {
    padding-top: -20px;
}

.location {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.des-tap {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item, .total {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thank-you {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0; 
}

.barcode {
  font-family: "Libre Barcode 39 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin: 10px;
}
